html {
-ms-touch-action: none;
}

body, canvas, div {
margin: 0;
padding: 0;
outline: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
border: 0;
margin: 0;

cursor: default;
color: #888;

text-align: center;
font-family: Helvetica, Verdana, Arial, sans-serif;

display: flex;
flex-direction: column;
}

#Cocos2dGameContainer {
/*height: 460px !important;
width: 780px !important;*/
position: relative;
overflow: hidden;
/*left: calc(50% - 390px);*/
padding: 0 !important;

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-align: center;
-webkit-box-pack: center;
margin: auto;
}

#mynetwork {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    height: 300px;
}

canvas {
background-color: rgba(0, 0, 0, 0);
}

#tabs{
	background: #1B8591;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1B8591;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 16px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #666;
    font-size: 16px;
}